# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
# https://github.com/marketplace/actions/action-for-semantic-release

name: Develop

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

jobs:
  lint:
    # name: Lint
    uses: ./.github/workflows/job-lint.yml

  test:
    # name: Test
    needs: lint
    uses: ./.github/workflows/job-test.yml
